
* {
  box-sizing: border-box;
}

body {
    background-color: #dedede;
    margin: 0;
    padding: 0;

}


main {
  padding: 1.2%;
  font-size: 0; 
}


h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
    margin: 0;
}


a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}


h2 {
  font-size: 28px;
  font-family: Arial, sans-serif;
  margin: 0 0 10px;
  text-align: center;
}


img{
  width:100%;
}


p {
  font-size: 21px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-bottom: 10px;

}


ul, li {
  font-size: 20px;
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0;
}

.label {
  margin-bottom: 40px;
}


div {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}


div img {
  width: 100%;
  height: auto;
  display: block;
  max-height: none;
  margin: 0;
  border: 2px solid #5f5f5f;
  border-radius: 20px;  
}


@media screen and (min-width: 772px) {
  div {
    width: 45vw;
    vertical-align: top;
    display: inline-block;
  }

  div img {
    max-height: 30vh;
  }
}


@media screen and (min-width: 998px) {
  div {
    width: 30vw;
  }
}













/* 
main {
    border: 5px #000 solid;
    margin: 10px;
}
 */
/* 

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
 */
/* img{
    width: 200px;
    height: 200px;
    padding: 5px;
} */

/* .child {
    position: relative;
    display: inline-block;
    border: 5px black solid;
    margin: 5px;
    border-radius: 5px;
} */

/* 

.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.button {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 25px;
}
 */
/* 
.button:hover {
    background-color:#fff;
} */

/* 
footer {
    display: flex;
    justify-content: center;
} */

/* 
header {
    border-radius: 5px;
    border: 5px #000 solid;
    margin: 10px;
} */

/* 
.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.child:hover .label {
    display: block;
} */